@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    animation: fadeInUp 1s ease 0s 1 normal forwards;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// select
/* react-select-global.scss */

/* Toàn bộ select wrapper */
.Select__control,
.react-select__control {
    border: 1px solid #ccc;
    border-radius: 6px;
    min-height: 42px;
    font-size: 14px;
    box-shadow: none;
    transition: border-color 0.2s;

    &:hover {
        border-color: #ff6600;
    }

    &--is-focused {
        border-color: #ff6600 !important;
        box-shadow: 0 0 0 1px #ff6600 !important;
    }
}

.Select__placeholder,
.react-select__placeholder {
    color: #aaa;
}

.Select__menu,
.react-select__menu {
    z-index: 20;
}

/* Option mặc định */
.Select__option,
.react-select__option {
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;

    &--is-selected {
        background-color: #ffe5cc !important; // cam nhạt
        color: #333;
    }

    &--is-focused {
        background-color: #fff0e0 !important; // cam sáng khi hover
    }

    &:active {
        background-color: #ff6600 !important; // cam đậm khi nhấn
        color: #fff !important;
    }
}

//Custom tippy tooltip
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
