.posts {
    margin-top: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.pagination-container {
    display: flex;
    justify-content: center; /* C?n gi?a Pagination */
    margin: 15px 0;
}
