.wrapper {
    padding: 8px 16px;
    width: 320px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    object-fit: cover;
}
.body {
    margin-top: 10px;
}
.user {
}
.nickname {
    font-size: 1.8rem;
}
.icon {
    margin-left: 8px;
    font-size: 1.4rem;
    color: #20d5ec;
}
.name {
    font-size: 1.4rem;
}
.analytics {
    font-size: 1.6rem;
    margin-top: 8px;
}
.value ~ .value {
    margin-left: 20px;
}
.lable {
    margin-left: 8px;
    color: #333;
}
