.card {
    max-width: 345px;
    opacity: 0;
    transform: translateY(20px) scale(1); // đặt sẵn scale(1)
    animation: fadeInUp 1s ease-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid transparent;

    &:hover {
        cursor: pointer;
        transform: translateY(0) scale(1.2); // giữ translateY(0) + scale(1.2)
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.card-actions {
    display: flex;
    gap: 2px;
}
.card-box {
    display: flex;
    align-items: center;
    gap: 0.5px;
}
.favorite-icon {
}

.favorite-num {
}

.save-icon {
}

.view-icon {
}

.view-num {
}
